/* About Page LAyout and Styles */

.about-page{

	.page-top{
		// h1{
		// 	font-size: 10vh;
		// 	line-height: 10vh;
		// }
	}
	.page-content{
		padding: 0 2vw;
		position: relative;
		p{
			font-size: 1.5rem;
			color: $white;
			line-height: 2rem;
			width: 75%;
			margin-top: 3vh;

			&.last{
				padding-bottom: 3vh;
			}

		}

		.about-copy{
			padding: 1em 0;

		}
		.about-pic-wrapper{
			min-height: 1px;
		}
		.about-pic{
			width: 25%;
			max-width: 100%;
			opacity: 1;
			position: absolute;
			top: 0em;
			right: 0;
			

		}
	}
	.office{
		h2{
			color: $white;
			text-align: center;
			background-color: $gray;
			padding: 10vh;
		}
		.studioImg{
			float: left;
				width: 50%;
				height: 50vw;
				overflow: hidden;
			img{
				width: 100%;
			}
		}
		&:nth-child(odd){
			img{
				@include transform(translateY(150vw));
				@include transition(all 0.5s ease);
				opacity: 0;

				&.active{
					@include transform(translateY(0));
					opacity: 1;
				}
			}
		}
		&:nth-child(even){
			img{
				@include transform(translateY(150vw));
				@include transition(all 0.5s ease);
				opacity: 0;

				&.active{
					@include transform(translateY(0));
					opacity: 1;
				}
			}

		}

	}
	.team_blocks{
		width: 100%;
	}
	.team-member-row {
		width: 100%;
		clear:both;

		// &:nth-child(4n+1) {
		// 	background-color: $light-blue;
		// }
		// &:nth-child(4n+2) {
		// 	background-color: $dark-blue;
		// }
		// &:nth-child(4n+3) {
		// 	background-color: $orange;
		// }
		// &:nth-child(4n+4) {
		// 	background-color: $gray;
		// }
		&:nth-child(odd) {
			.member-picture-wrapper {
				float: left;
			}
			.member_info{
				float: right;
			}
		}
		&:nth-child(even) {
			.member-picture-wrapper {
				float: right;
			}
			.member_info{
				float: left;
			}
		}
		.member-picture-wrapper {
			position: relative;
			width: 50%;
			height: 50vw;
			cursor: pointer;

			.member_overlay{
				@include block-overlay();
				p{
					font-size: 2vw;
				}
			}


			img {
				width: 100%;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				z-index: 0;
				@include transition(all 0.5s ease);

			}
			img.primary_picture{
				display: block;
				@include transition(all 0.5s ease);
				&.hidden{
					display: none;
					@include transition(all 0.5s ease);
				}
			}
			img.click_picture{
				display: none;
				@include transition(all 0.5s ease);
				&.active{
					display: block;
					@include transition(all 0.5s ease);
				}
			}
			img.hover_picture{
				display: none;
				@include transition(all 0.5s ease);
				&.active{
					display: block;
					@include transition(all 0.5s ease);
				}
			}
		}
		.member_info{
			width: 50%;
			height: 50vw;
			position: relative;
			color: $white;
			padding: 1%;
			opacity: 0;
			box-sizing: border-box;
			@include transition(all 0.5s ease);

			hr{
					@include transform(scaleX(0));
					transition: all .5s ease;
				}

			h3{
					font-size: 6vh;
					text-transform: uppercase;
					line-height: 6.5vh;
					color: $white;

					small{
						display: block;
						font-size: .5em;
						font-style: italic;
					}
				}

				p{
					font-weight: 100;
					font-size: 1.25rem;
					line-height: 1.5rem;
					width: 75%;
				}

			&.active{
				opacity: 1;
				@include transition(all 0.5s ease);

				hr{
					@include transform(scaleX(1));
					transition: all .5s ease;
				}
			}

			.member_position{
				font-style: italic;
			}

			.main_block_info{
				padding: 4%;
				@include vertical-align();
			}
			.partner_label{
				position: absolute;
				top: 1%;
				right: 1%;
			}
			.member_twitter{
				position: absolute;
				bottom: 1%;
				right: 1%;
			}

		}

	}
	.join_block{
		background-color: $light-blue;
		color: $white;
		text-align: center;
		padding: 5% 0;
		a{
			color: $white;
			transition: all 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
			-webkit-transition: all 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
			-moz-transition: all 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
			-o-transition: all 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
			text-decoration: none;
			i{
				color: $white;
			}

			&:hover{
				i{
					transition: all 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
					-webkit-transition: all 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
					-moz-transition: all 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
					-o-transition: all 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
					transform: translateX(4000%);
					-webkit-transform: translateX(4000%);
					-moz-transform: translateX(4000%);
					transform: translateX(4000%);
				}
			}
		}
	}
}
@media only screen and (min-device-width : 769px) and (max-device-width : 1000px) {
.about-page{

	.page-top{
		h1{
			font-size: 10vh;
			line-height: 10vh;
		}
	}
	.about-pic{
			width: 100%;
			max-width: 100%;
			opacity: 1;
			text-align: center;
			position: relative;
			

	}
}
}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
.about-page{

	.page-top{
		h1{
			margin-left: 2vw;
			font-size: 10vh;
			line-height: 10vh;
		}
	}
	.page-content{
			padding-bottom: 50vh;
			p{
				font-size: 1rem !important;

			}
		.about-pic{
			width: 100%;
			max-width: 100%;
			opacity: 1;
			text-align: center;
			position: relative;
			

		}
		.about-pic-kiss{
			width: 50%;
			max-width: 100%;
			opacity: 0;
			position: absolute;
			bottom: 0;
			left: 50%;
			@include transition(all 0.5s ease);

			&.active{
				@include transition(all 0.5s ease);
				opacity: 1;
			}
		}
		}
	}

	.member_info{
			.member_name{
				font-size: 3vh;
			}
		}

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.about-page{
		.page-content{
			padding-bottom: 35vh;
			p{
				width: 100%;
				font-size: 1.25rem;

			}
		.about-pic{
			width: 100%;
			max-width: 100%;
			opacity: 1;
			position: relative;
			
			


		}
		.about-pic-kiss{
			width: 50%;
			max-width: 100%;
			opacity: 0;
			position: absolute;
			bottom: 0;
			left: 50%;
			@include transition(all 0.5s ease);

			&.active{
				@include transition(all 0.5s ease);
				opacity: 1;
			}
		}
		}

		.office{
			.studioImg{
				float: none;
					width: 100%;
					height: 100vw;
				img{
					width: 100%;
				}
			}
		}
		.about-copy{
			font-size: 1rem !important;
			line-height: 1.25rem !important;
		}
		.member_name{
			font-size: 3.75vw !important;
			line-height: 3.75vw !important;
			small{
				font-size: 2.5vw !important;
			}
		}
		.member_info{
			p{
				font-size: 3vw !important;
				width: 100% !important;
				line-height: 1.15em !important;
			}
			h4{
				font-size: 3vw !important;
			}
		}
	} //Close about-page

}// Close mobile
