.blog-page{
	.BlogList{
		&--post{
			width: 100%;
			height: 40vw;
			overflow: hidden;
			position: relative;
			a.box-link{
				// background: #ffffff;
				display: block;
				width: 100%;
				height: 100%;
				color: $white;
				text-decoration: none;
			}
			.BlogList--content-wrapper{
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 10vh;
				width: 100%;
				height: 40vw;
				background: rgba(0,0,0,.3);
				.BlogList--content{
					width: 100%;
					@include desktop() {
						width: 66%;

					}
				}

				h2{
					color: $white;
					@include mobile{
						font-size: 6vw;
						line-height: 7vw;
					}
					@include tablet{
						font-size: 6vw;
						line-height: 7vw;
					}
				}
				hr{
					@include transform(scaleX(0));
					@include transition(all 275ms ease);


				}

				p{
					font-weight: 100;
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
				&.active{
						hr{
							@include transform(scaleX(1));
							@include transition(all 275ms ease);
						}
					}
			}
			img{
				width: 100%;
				//height: 40vw;
				position: absolute;
				z-index: -1;
				top: 0;
				right: 0;

			}
		}
	}
	ul.pagination{
		width: 100%;
		height: 100px;
	 	display: flex;
	 	align-items: center;
	 	justify-content: center;
		li{
			a{
				color: $white;
				font-size: 2.28rem;
				text-decoration: none;
				padding: .5rem;
				&:hover{
					background: rgba(0,0,0,.5);

				}
			}
			&.disabled{
				display: none;
			}
			&.active{
				color: $white;
				font-size: 2.28rem;
				text-decoration: line-through;
				padding: .5rem;
			}
		}
	}
}

.singlePost-page{
	.page-top{
		height: 40vw;
		position:relative;
		overflow: hidden;
		padding: 0;
		&-wrapper{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 10vh;
			width: 100%;
			height: 40vw;
			background: rgba(0,0,0,.3);
			h2{
				font-size: 7vw;
				line-height: 8vw;
				text-align: center;
				width: 66%;
				margin: 0 auto;

				@include tablet{
					font-size: 5vh;
					line-height: 6vh;
				}
				@include desktop{
					font-size: 8vh;
					line-height: 9vh;
				}

			}
			h5.Post-author{
				text-align: center;
				color: $white;
				font-weight: normal;
				margin-top: 1rem;
				padding-top: 1rem;
				border-top: 1px $white solid;
			}
		}

		img{
			width: 100%;
			//height: 40vw;
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
		}
	}
	.Post{
		width: 80%;
		margin: 0 auto;
		position: relative;
		@include desktop() {
			width: 800px;
		}
		&-content{
			padding-top: 3rem;
			line-height: 1.765rem;
			font-size: 1.2rem;
			img{
				padding: 2rem;
			}

			//Helpers from wordpress
			.alignleft, img.alignleft {
			margin-right: 1.5em;
			display: inline;
			float: left;
			}
		.alignright, img.alignright {
			margin-left: 1.5em;
			display: inline;
			float: right;
			}
		.aligncenter, img.aligncenter {
			margin-right: auto;
			margin-left: auto;
			display: block;
			clear: both;
			}
		.alignnone, img.alignnone {
			/* not sure about this one */
			}
		.wp-caption {
			margin-bottom: 1.5em;
			text-align: center;
			padding-top: 5px;
			}
		.wp-caption img {
			border: 0 none;
			padding: 0;
			margin: 0;
			}
		.wp-caption p.wp-caption-text {
			line-height: 1.5;
			font-size: 10px;
			margin: 0;
			}
		.wp-smiley {
			margin: 0 !important;
			max-height: 1em;
			}
		blockquote.left {
			margin-right: 20px;
			text-align: right;
			margin-left: 0;
			width: 33%;
			float: left;
			}
		blockquote.right {
			margin-left: 20px;
			text-align: left;
			margin-right: 0;
			width: 33%;
			float: right;
			}
		.gallery dl {}
		.gallery dt {}
		.gallery dd {}
		.gallery dl a {}
		.gallery dl img {}
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}
		}


	}
	.SocialShare{
		display: flex;
		align-items: center;
		margin-top: 2rem;
		justify-content: center;
		z-index: -5;
			a{
					display: inline;
					text-align: center;
					//float: left;
					margin-right: .5rem;
				}
			@include desktop{
				flex-direction: column;
				position: fixed;
				right: 5%;
				top: calc(60px);
				opacity: 0;
				@include transition(all 275ms ease);
				a{
					display: block;
					float: none;
					margin-bottom: .5rem;
				}
			&.scrolling{
				opacity: 100;
				@include transition(all 275ms ease);
			}
			}

		}
	.AuthorPosts{
		margin-top: 4rem;
		@include container;

		&--post{
			display: block;
			position:relative;
			&:hover{
				.AuthorPosts--post-title{
					@include transition(all 275ms ease);
					background: rgba(0,0,0,.5);
					h5 hr{
							@include transform(scaleX(1));
							@include transition(all 275ms ease);
						}
				}
			}
			&-title{
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 5;
				@include transition(all 275ms ease);
				h5{
					width: 80%;
					margin: 0 auto;
					line-height: 2rem;
					color: $white;
					font-size: 1.64rem;
					text-align: center;
					@include vertical-align(relative);
					hr{
						@include transform(scaleX(0));
						@include transition(all 275ms ease);

					}
				}

			}

			img{
				max-width: 100%;

			}
			@include span(12);

			@include tablet{
				@include span(4);
				padding: 0;
			}

			@include desktop{
				@include span(4 );
				padding: 0;
			}


		}
	}
}