
/* Case Stufy Page Styles */
.case-study-page{
	h1{
		@include mobile{
			font-size: 10vw;
		}
	}
	.case-study{
		width: 100%;
		padding-top: 10vh;
	}

	.case-content{
		font-size: 3vh;
		line-height: 1.5em;

		&.offCanvasRight{
			float: right;
			right: 0vw !important;
		}
	}

	.case-results{
		font-size: 3vh;
		line-height: 1.5em;
		float: left;

		&.offCanvasRight{
			float: right;
		}
	}

	.summary, .challenge, .solution, .results{
		// width: 100%;
		padding: 25vh 0;
		min-height: 100vh;
		overflow: hidden;
		position: relative;
		.case-content{
			 &.pushDown{
			 	padding-top: 35vh;
			 }
			width: 40%;
			margin: 10vh;

			&.middle{
				padding-top: 25vh;
				width: 80%;
				display: block;
				margin: 0 auto;
			}

		}
		img{
			max-width: 50%;
			@include mobile{
				max-width: none;
				//margin: 0 auto !important;
				padding-left: 10%;
			}
			@include tablet{
				max-width: none;
				//margin: 0 auto !important;
				padding-left: 10%;
			}

			&.fullImage{
				max-width: 100%;
				@include mobile{
					max-width: none;
					margin-top: 10vh;
				}
				@include tablet{
					max-width: none;
					margin-top: 10vh;
				}

			}
			&.deviceImage{
				max-width: 100%;
			}
			&.Image{
				@include mobile{
					width: 150vw;
				}
				@include tablet{
					width: 100vw;
				}
			}
		}
		.centerImage{
			display: block;
			margin: 0 auto;
		}
		// .stickRight{
		// max-height: 100vh;
		// max-width: 100%;
		// position: absolute;
		// top: 0;
		// right: 0;
		// }

		.centerRight{
			max-height: 100vh;
			max-width: 100%;
			position: absolute;
			top: 60vh;
			right: 20vh;
		}
		.stickRight{
			max-height: 100vh;
			// max-width: 100%;
			position: absolute;
			top: 0vh;
			right: -50vw;
			@include mobile{
				right: 0;
				left: 0;
				position:relative;
			}
			@include tablet{
				right: 0;
				left: 0;
				position:relative;
			}
			@include largeDesktop{
				right: -25vw;
			}
		}

		.stickRightMacBook{
			max-height: 100vh;
			// max-width: 100%;
			position: absolute;
			top: 0vh;
			right: -50vw;
			@include mobile{
				right: 0;
				left: 0;
				position:relative;
			}
			@include tablet{
				right: 0;
				left: 0;
				position:relative;
			}
			@include largeDesktop{
				right: -25vw;
			}
		}
		.stickRightPhone{
			max-height: 100vh;
			// max-width: 100%;
			position: absolute;
			top: 4vh;
			right: -10vw;
			@include mobile{
				right: 0vw;
				position:relative;
			}
			@include tablet{
				right: -25vw;
				position:relative;
			}
			@include largeDesktop{
				right: -5vw;
			}
		}
		.stickLeftPhone{
			max-height: 100vh;
			// max-width: 100%;
			position: absolute;
			top: 4vh;
			left: 0vw;
			// @include mobile{
			// 	right: 0vw;
			// 	position:relative;
			// }
			// @include tablet{
			// 	right: -25vw;
			// 	position:relative;
			// }
			// @include largeDesktop{
			// 	right: -5vw;
			//}
		}
		.rotated{
			transform: rotate(24deg);
			@include mobile{
				transform: rotate(24deg) scale(.75);
			}
		}
	}
	.case-quote{
		padding: 35vh;
		text-align: center;
		quote{
			font-family: "mr-eaves-modern",sans-serif;
			font-weight: 100;
			font-size: 5vh;
		}
		hr{
			border-top: 1px solid lighten($gray, 10);
			@include transition(all 1s ease-in-out);
			@include transform(scaleX(0));

			&:nth-child(1){
				@include transform-origin(left center);
			}
			&:nth-child(2){
				@include transform-origin(right center);
			}

			&.active{
				@include transform(scaleX(1));
				@include transition(all 1s ease-in-out);
			}
		}
	}

	/* Animations */
	.offCanvasLeft{
		@include transform(translateX(-100vw));
		@include transition(all 1s ease-in-out);
		&.active{
			@include transform(translateX(0vw));
			@include transition(all 1s ease-in-out);
		}


	}
	.offCanvasLeftDevice{
		@include transform(translateX(-100vw));
		@include transition(all 1s ease-in-out);
		&.active{
			@include transform(translateX(0vw));
			@include transition(all 1s ease-in-out);
		}
		@include mobile{
			@include transform(scale(.5) translateX(-100vw));
			&.active{
				@include transform(scale(.5) translateX(-10vw));
			}
		}
		@include tablet{
			@include transform(scale(.75) translateX(-100vw));
			&.active{
				@include transform(scale(.75) translateX(0vw));
			}
		}


	}
	.offCanvasRightDevice{
		@include transform(translateX(100vw));
		@include transition(all 1s ease-in-out);
		&.active{
			@include transform(translateX(0vw));
			@include transition(all 1s ease-in-out);
		}
		@include mobile{
			@include transform(scale(.5) translateX(100vw));
			&.active{
				@include transform(scale(.5) translateX(10vw));
			}
		}
		@include tablet{
			@include transform(scale(.75) translateX(100vw));
			&.active{
				@include transform(scale(.75) translateX(0vw));
			}
		}
	}
	.offCanvasRight{
		@include transform(translateX(100vw));
		@include transition(all 1s ease-in-out);
		&.active{
			@include transform(translateX(0vw));
			@include transition(all 1s ease-in-out);
		}
		@include mobile{
			@include transform(translateX(100vw));
			&.active{
				@include transform(translateX(0vw));
			}
		}
	}
	.fadeCanvas{
		opacity: 0;
		@include transition(all 1s ease-in-out);
		&.active{
			opacity: 1;
			@include transition(all 1s ease-in-out);
		}
	}

}

/**** Client Specific Colors ****/

.bd-portfolio-top{
	background-color: #276191;
	color: #f9f9f9;
}

.bd-case{
	background-color: #276191;
	color: #f9f9f9;
	.challenge{
		border-top: 5vh solid #B69D87;
		border-bottom: 5vh solid #B69D87;
		background-color: $white;
		color: #276191;
	}
}

.ps-portfolio-top{
	background-color: #EB4E26;
	color: #f9f9f9;
}

.ps-case{
	background-color: #EB4E26;
	color: #f9f9f9;
	.challenge{
		border-top: 5vh solid #A3B017;
		border-bottom: 5vh solid #A3B017;
		background-color: $white;
		color: #EB4E26;
	}
}

@include mobile{
	.case-study-page{
		img{

			&.deviceImage{
				padding: 0;
				max-width: 100% !important;
			}
		}

		.offCanvasRight{
			position: relative !important;
			right: auto !important;
			top: auto !important;

		}

		// .stickRight1{
		// 	//position: relative !important;
		// 	right: auto !important;
		// 	top: auto !important;
		// }

		.offCanvasLeft{
			position: relative;
			right: auto;
			top: auto;
		}

		.summary{
			padding-top: 5vh;
			.case-content{
				width: 90%;
				margin: 5vw;
				padding-top: 0 !important;
			}
		}

		.case-quote{
			padding: 5vh;
		}

		.challenge{
			padding-top: 10vh;
			min-height: auto;
		}

		.case-content{
			width: 90% !important;
			margin: 5vw !important;
			padding-top: 5vh !important;
		}

		.results{
			padding-top: 0;
			min-height: auto;
		}

		.solution{
			min-height: auto;
			padding-top: 5vh;
		}
		h1 small{
		font-size: 5vw;
		}
	}
}

@include tablet{
	.case-study-page{
		img{

			&.deviceImage{
				padding: 0;
				max-width: 100% !important;
			}
		}

		.offCanvasRight{
			position: relative !important;
			right: auto !important;
			top: auto !important;

		}

		// .stickRight1{
		// 	//position: relative !important;
		// 	right: auto !important;
		// 	top: auto !important;
		// }

		.offCanvasLeft{
			position: relative;
			right: auto;
			top: auto;
		}

		.summary{
			padding-top: 5vh;
			.case-content{
				width: 90%;
				margin: 5vw;
				padding-top: 0 !important;
			}
		}

		.case-quote{
			padding: 5vh;
		}

		.challenge{
			padding-top: 10vh;
			min-height: auto;
		}

		.case-content{
			width: 90% !important;
			margin: 5vw !important;
			padding-top: 5vh !important;
		}

		.results{
			padding-top: 0;
			min-height: auto;
		}

		.solution{
			min-height: auto;
			padding-top: 5vh;
		}
	}
}
