.project-form{
	width: 50% !important;
	min-height: 100vh !important;
	background-color: $yellow;
	padding-top: 30px;
	max-width: 800px;
	margin: 0 auto;
	display: block;


	input{
		width: 100%;
		height: 4vw;
		font-size: 2vw;
		margin-bottom: 40px;
		border: none;
		border-bottom: solid 2px $white;
		padding-left: 10px;
		color: $white;
		background: transparent;
		font-family: "museo-sans", sans-serif !important;
	}

	textarea{
		width: 100%;
		height: 10vw;
		font-size: 2vw;
		margin-bottom: 25px;
		border: none;
		border-bottom: solid 2px $white;
		padding-left: 10px;
		background: transparent;
		font-family: "museo-sans", sans-serif !important;
		color: $white;
	}


	.submit-button{
		border: solid 2px $white !important;
		padding: 10px 20px;
		background: transparent;
		color: $white;
		font-size: 2vw;
		font-family: "museo-sans", sans-serif !important;
		&:hover{
			background-color: $white;
			color: $red;
		}
	}

	::-webkit-input-placeholder{
				color: $white !important;
				opacity: 1;
			}

	:-moz-placeholder{
				color: $white !important;
				opacity: 1;
			}

	::-moz-placeholder{
				color: $white !important;
				opacity: 1;
			}

	:-ms-input-placeholder{
				color: $white !important;
				opacity: 1;
			}
}

@media screen and (max-width: 767px){
	.project-form{
		input{
			font-size: 5vw;
			height: 7vw;
		}
		textarea{
			font-size: 5vw;
			height: 30vw;
		}
		.submit-button{
			font-size: 5vw;
		}
	}
}