.services-page{

	// #serivcesMap{
	// 	position: absolute;
	// 	top: 100vh;
	// 	width: 100vw;
	// }

	@include transition(all 1s ease);
	.page-top{
		height: 100vh;
		padding: 10vh 0 !important;
		margin-top: 0 !important;
		position: relative;
		margin-bottom: 25vh;
		span{
			position: absolute;
			text-align: center;
			width: 100%;
			font-size: 15vh;
			bottom: -25vh !important;
			opacity: 1;
			@include transition(all 1s ease);
			&.active{
				opacity: 0;
				@include transition(all 1s ease);
			}
		}
	}
	.services-wrapper{
		overflow: hidden;
		height: 100% !important;
		width: 100% !important;
	}
	.panel{
		width: 100%;
		height: auto;
		color: $white;
		display: block;
		box-sizing: border-box;
		clear: both;
		padding: 50vh 0;
		position: relative;
		&:after{
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			height: 1px;
		}
		span{
			position: absolute;
			left: 0;
			text-align: center;
			width: 100%;
			font-size: 15vh;
			bottom: 0vh;
			opacity: 1;
			color: rgba(255,255,255,.25);
			@include transition(all 750ms ease);
			&.flipped{
				transform: rotate(180deg);
				@include transition(all 750ms ease);
			}
		}


		.heading{
			
			display: block;
			position: relative;
			@include span(12);
			@include tablet{
			}
			@include desktop{
				@include span(8);

			}
			hr{
				width: 100%;
				display: block;
				position: absolute;
				top: 50%;
				border: none;
				background: $white;
				height: 2px;
				transform: translateY(-50%);
				@include transform(scale(0));
				@include transition(all 1.5s ease-out);

				&.active{
					@include transform(scale(1));
					@include transition(all 1.5s ease-out);

				}
				&.first{
					@include transform-origin(0);
					margin-top: -12vmin;
					@include mobile{
						width: 90%;
						left: 0;
					}
				}
				&.last{
					@include transform-origin(100%);
					margin-top: 12vmin;
					@include mobile{
						width: 90%;
						left: 10%;
					}
				}

				@include mobile{
					width: 90%;
					left: 10%;
				}
			}
			h1{
				font-size: 12vmin;
				text-align: center;
				margin-top: 0;
				top: 50%;
				opacity: 0;
				@include transition(all 0.5s ease);

				&.active{
					opacity: 1;
					@include transition(all 0.5s ease);
				}
			}
		}
		.content{
			display: block;
			
			margin-top: 10%;
			@include span(12);
			@include tablet{
				@include span(12);
			}
			@include desktop{
				@include span(8);
			}
			p{
				font-size: 1.5rem;
				line-height: 2rem;
				padding: 1em;
				opacity: 0;
				@include transition(all 0.5s ease);

				&.active{
					opacity: 1;
					@include transition(all 0.5s ease);
				}
			}
		}
		.list{
			display: flex;
			justify-content: center;
			// align-items: center;
			flex-wrap: wrap;
			font-size: 1rem;
			line-height: 1.75rem;
			text-align: left;
			@include span(12);

			@include tablet{
				@include span(12);
			}
			@include desktop{
				@include span(8);
			}

			.list-col{
				width: 100%;
				padding: 0 5vw;
				@include tablet{
					width: 30vw;
				}
				@include desktop{
					width: 21.5vw;
				}
			}

		}
	}
	.branding{

	}
	.web{
		width: 100%;
		overflow: hidden;
		.heading, .content, .list{
			float: right;
		}
	}
	.spark-services{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.social{

	}
}

@media screen and(max-width: 767px){
	.services-page{
		.panel{
			.content{
				width: 100%;
			}
			.heading{
				position: relative;
				margin-bottom: 75px;
			}
		}
	}
}