.spark-page{
	color: #ffffff;
	.spark-intro{
		@include container;
		@include clearfix;
		padding: 25vh 0;
		&-text{
			@include span(8);
			// line-height: 1.5em;
			margin-bottom: 1rem;
			@include mobile{
				@include span(12);
				padding: 1rem;
			}
			@include tablet{
				@include span(7);
				p{
					font-size: 1.2em;
					line-height: auto;
				}
			}
		}
		&-call{
			@include span(4);
			text-align: center;
			margin-bottom: 1rem;
			a{
				color: #ffffff;
				&:hover{
					color: $light-blue;

				}
			}
			@include mobile{
				@include span(12);
			}
			@include tablet{
				@include span(5);
				h2{
					font-size: 5vh;
					line-height: 6vh;
				}
				h3{
					font-size: 3vh;
					line-height: 4vh;
				}
			}
		}

	}
	.callout{
			padding: 50vh 0;
			color: $yellow;
			background: $white;
			width: 100%;
			text-align: center;

			@include tablet{
				h2{
					font-size: 5vh;
					line-height: 6vh;
				}
			}
	}
	.Blocks{
		h4{
			padding: 10vh;
		}
		@include container;
		position: relative;
		.Block{
			@include span(4);
			height: 33vw;
			padding: 5rem;
			text-align: center;
			border: 2px solid rgba(255,255,255,0.1);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			span{

				@include largeDesktop{
					font-size: 12vh;
				}

			}
			h6{
				padding: 1rem;
				font-weight: normal;
				@include smallMobile{
						font-size: 14px;
						line-height: 14.75px;
					}
			}
			//@include vertical-align();
			@include mobile{
				span.fa-2x{
					@include smallMobile{
						font-size: 14px;
						line-height: 13px;
					}
				}
				@include span(6);
				height: 50vw;
				padding: 1rem;
				p{
					font-size: 14px;
					line-height: 14.75px;
					margin-bottom: 1rem;
					@include smallMobile{
						font-size: 12px;
						line-height: 13px;
					}
				}
				i{
					font-size: 14px;
					line-height: 14.75px;
					font-style: italic;
					@include smallMobile{
						font-size: 12px;
						line-height: 13px;
					}
				}
			}
			@include tablet{
				padding: 1rem;
				p{
					font-size: 1em;
					line-height: 1.75em;
					margin-bottom: 1rem;
				}
				i{
					font-size: 1em;
					line-height: 1.75em;
					font-style: italic;
				}
			}

			@include transition(all 325ms ease);
			&.design{
				&:hover{
					background: $light-blue;
					@include transition(all 325ms ease);
				}
				@include mobile{
					background: $light-blue;
				}
				@include tablet{
					background: $light-blue;
				}
			}
			&.setup{
				&:hover{
					background: $dark-blue;
					@include transition(all 325ms ease);
				}
				@include mobile(){
					background: $dark-blue;
				}
				@include tablet(){
					background: $dark-blue;
				}
			}
			&.security{
				&:hover{
					background: $gray;
					@include transition(all 325ms ease);
				}
				@include mobile(){
					background: $gray;
				}
				@include tablet(){
					background: $gray;
				}
			}
			&.marketing{
				&:hover{
					background: $orange;
					@include transition(all 325ms ease);
				}
				@include mobile(){
					background: $orange;
				}
				@include tablet(){
					background: $orange;
				}
			}
			&.photo{
				&:hover{
					background: $pink;
					@include transition(all 325ms ease);
				}
				@include mobile(){
					background: $pink;
				}
				@include tablet(){
					background: $pink;
				}
			}
			&.ecom{
				&:hover{
					background: $green;
					@include transition(all 325ms ease);
				}
				@include mobile(){
					background: $green;
				}
				@include tablet(){
					background: $green;
				}
			}
		}
	}
	.examples{
		@include container;
		padding: 25vh 0;
		h2{
			padding-bottom: 25vh;
			text-align: center;
		}
		.spark-example{
			@include span(12);
			text-align: center;
			img{
				max-width: 100% !important;
			}
			.faux-browser{
				@include faux-browser;
			}
			@include tablet{
				@include span(4)
			}
			@include desktop{
				@include span(4)
			}
		}
	}
}