.clients{
	h4{
		font-size: 4vh;
		padding: 20px;
	}
	background-color: #e9e9e9;

	@include clearfix;

	.client_logo{
		width: 12.666%;
		height: 12.666vw;
		float: left;
		margin: 2%;

		img{
			@include filter(grayscale(1));
			max-width: 100%;
			height: auto;

			&:hover{
				@include filter(grayscale(0));
			}
		}
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.clients{
		h4{
			font-size: 3vh;
		}


		.client_logo{
			width: 29%;
			height: 29vw;
		}

	}

}