.offCanvasLeft{
		@include transform(translateX(-100vw));
		@include transition(all 1s ease-in-out);
		&.active{
			@include transform(translateX(0vw));
			@include transition(all 1s ease-in-out);
		}
	}
	.offCanvasRight{
		@include transform(translateX(100vw));
		@include transition(all 1s ease-in-out);
		&.active{
			@include transform(translateX(0vw));
			@include transition(all 1s ease-in-out);
		}
	}
	.fadeCanvas{
		opacity: 0;
		@include transition(all 1s ease-in-out);
		&.active{
			opacity: 1;
			@include transition(all 1s ease-in-out);
		}
	}