@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin horizontal-align($position: relative) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@mixin block-overlay() {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 47, 59, .65);
	text-align: center;
	vertical-align: middle;
	display: block;
	opacity: 0;
	position: relative;
	z-index: 100;
	@include transition(all 0.5s ease);

	&.active{
		opacity: 1;
		@include transition(all 0.5s ease);
	}
	p{
		@include vertical-align();
		color: $white;

	}

}

@mixin faux-browser{
	padding: 20px 0 0;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    background: #ddd;
    display: inline-block;
    position: relative;
    line-height: 0;
    box-shadow: 0px 0px 5px 1px #ccc;
	.frame{
		display: block;
	    height: 15px;
	    position: absolute;
	    top: 5px;
	    left: 1px;
	    span{
	    	height: 8px;
		    width: 8px;
		    border-radius: 8px;
		    background-color: #eee;
		    border: 1px solid #dadada;
		    float: left;
		    margin: 0 0 0 4px;
	    }
	}
}


.clearfix{
	:after {
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
     }
	display: inline-block;
}

