

/* Colors */
$red: 				#D52828;
$orange:            #D55328;
$yellow:			#D58928;
$green:				#1C945A;
$pink:        		#BC2356;
$dark-blue:         #002F3B;
$light-blue:		#18B6F0;
$gray:              #252626;
$white:				#ffffff;
$light-gray:		#f9f9f9;
// Opacities
$dark-blue-o: 		rgba(0, 47, 59, .65);