

.box-grid{

	width: 100%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	.box{
		width: 50%;
		height: 50vw;
		float: left;
		position: relative;
		@include transition(all 300ms ease);
		-webkit-backface-visibility: hidden;
		img{
			max-width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -10;
		}
		&.double{
			width: 100%;
		}


		a.box-link{
			background: #ffffff;
			display: block;
			width: 100%;
			height: 100%;
			color: $white;
			text-decoration: none;

			.box-content{
				position: absolute;
				top: 50%;
				@include transform(translateY(-50%));
				padding: 10vh;
				width: 50%;

				h2{
					font-size: 6vh;
					text-transform: uppercase;
					line-height: 6.5vh;
					color: $white;
				}
				hr{
					@include transform(scaleX(0));
					@include transition(all 275ms ease);


				}

				p{
					font-weight: 100;
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
				&.active{
						hr{
							@include transform(scaleX(1));
							@include transition(all 275ms ease);
						}
					}

			}

			&.box-slide-down{
				overflow: hidden;
				z-index: 100;
				height: 0;
				background-color: #e9e9e9;
				@include transition(all 300ms ease-out);
				color: $dark-blue;
					h2, p{
						pointer-events: none;
						opacity: 0;
						@include transform(translateY(-200%));
						@include transition(all 300ms ease);
					}

					h2{
						color: $dark-blue;
					}

				&.active{
				height: 100%;
				@include transition(all 300ms ease-out);
					h2, p{
							opacity: 1;
							@include transform(translateY(0));
							@include transition(all 300ms ease);
						}
					hr{
						@include transition-delay(300ms);
						@include transform(scaleX(1));
						@include transition(all 275ms ease);
					}
				}
			}

		}
	}
	.work a.box-link{
		background-color: $dark-blue;
		&:hover{
			background-color: darken($dark-blue, 5%);
		}
		.zoom-box{
			background-color: $dark-blue;
		}
	}

	.services a.box-link{
		background-color: $light-blue;
		&:hover{
			background-color: darken($light-blue, 5%);
		}
		.zoom-box{
			background-color: $light-blue;
		}
	}
	.about a.box-link{
		background-color: $green;
		&:hover{
			background-color: darken($green, 5%);
		}
		.zoom-box{
			background-color: $green;
		}
	}
	.spark a.box-link{
		background-color: $yellow;
		&:hover{
			background-color: darken($yellow, 5%);
		}
		.zoom-box{
			background-color: $yellow;
		}
	}
	.blog a.box-link{
		background-color: $orange;
		&:hover{
			background-color: darken($orange, 5%);
		}
		.zoom-box{
			background-color: $orange;
		}
	}
	.contact a.box-link{
		background-color: $red;
		&:hover{
			background-color: darken($red, 5%);
		}
		.zoom-box{
			background-color: $red;
		}
	}
	.start a.box-link{
		background-color: $pink;
		&:hover{
			background-color: darken($pink, 5%);
		}
		.zoom-box{
			background-color: $yellow;
		}
	}
}

@media only screen and (max-device-width : 767px) {
	.box-grid{
		.box-img{
			display: none;
		}
		.box{
			width: 100%;
			height: 100vw;
			float: none;

			a.box-link{
				.box-content{
					padding: 5vh;
					width: 85%;
				}
				&.box-slide-down{
					height: 100%;
					background-color: rgba(#e9e9e9, .5);
					hr{
						@include transform(translateX(0));
					}
					h2, p{
						opacity: 1;
						@include transform(translateY(0));

					}

				}
			}
		}
	}



}
