header.top-bar{
		height: 60px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}
	.bc-logo-bg{
	margin: .5%;
	//background-color: $light-gray;
	border-radius: 75px;
	display: block;
	width: 75px;
	height: 75px;
	position: relative;
	transition: all .25s ease-out;
	&.hovered{
		width: 0px;
	}
	#bc_logo{
		position: absolute;
		top: 3px;
		left: 7.5px;
		width: 300px;
		opacity: 0;
	}
	.hide{
		opacity: 0;
	}
	#bc_logo:hover .hide{

	}
	/* Logo */
}