body{
	width: 100%;
	// height: 400vh;
	background-color: $white;
	font-family: 'museo-sans', sans-serif;
	font-weight: 300;
	color: $gray;
	// -webkit-transform:translate3d(0,0,0);

}



h1, h2, h3, h4, h5, h6{
	font-family: "museo-sans", sans-serif;
	font-weight: 900;
}
h1{
	font-size: 10vh;
	line-height: 11vh;

}
h2{
	font-size: 8vh;
	line-height: 9vh;
}
h3{
	font-size: 6vh;
	line-height: 7vh;
}
h4{
	font-size: 4vh;
	line-height: 5vh;
}
h5{
	font-size: 2vh;
	line-height: 3vh;
}
p{
	font-size: 3vh;
	line-height: 3.5vh;
}
a{
	@include transition(all 325ms ease);
	&:hover{
		@include transition(all 325ms ease);
	}

}
.text-center{
	text-align: center;
}
.zoom-box{
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(scale(.01));
	visibility: hidden;
	z-index: 900;
	border-radius: 50%;
	width: 250vw;
	height: 250vw;
	margin-top: -125vw;
	margin-left: -125vw;
	@include transition(all 750ms ease);
	-webkit-transition: all 750ms ease;

	&.zoom{
		@include transform(scale(1));
		visibility: visible;
		@include transition(all 750ms ease);
		-webkit-transition: all 750ms ease;
	}
}
@media (max-width: 999px){
	.zoom-box{
		width: 250vh;
		height: 250vh;
		margin-top: -125vh;
		margin-left: -125vh;
	}
}
.hello-container{
	background: url('/assets/images/Eric_headshot.jpg') no-repeat bottom left;
	height: 40em;
	position: static;
	.hello-text{
		position: absolute;
		top: 40vh;
	}
}
.skills {
	background-color: $light-blue;
	padding: 2em 10vw;
	color: $white;

	.gridContainer{
		display: grid;
 	 	grid-template-columns: auto auto auto;
 	 	.grid-item{
 	 		ul{
 	 			margin-bottom: 3em;
 	 		}
 	 		li{
 	 			font-size: 1.2em;
 	 			line-height: 1.3em;
 	 		}
 	 	}
	}	
	
}
.experience {
	background-color: $red;
	padding: 2em 10vw;
	color: $white;
	h2{
		text-align: right;
	}

	.gridContainer{
		display: grid;
 	 	grid-template-columns: auto auto auto;
 	 	i{
 	 		font-style: italic;
 	 	}
 	 	.grid-item{
 	 		line-height: 1.1em;
 	 		width: 30vw;
 	 		p{
 	 			margin: .5em 0;
 	 		}
 	 		ul{
 	 			margin: 1.5em 0;
 	 		}
 	 		li{
 	 			font-size: 1em;
 	 			padding-bottom: 1.1em;
 	 			padding-left: 1em;
 	 		}
 	 	}
	}	
	
}
.my-work{
	background-color: $light-gray;
	text-align: center;
	padding: 2em;
}

	.work{
		.zoom-box{
			background-color: $dark-blue;
		}
	}

	.services{
		.zoom-box{
			background-color: $light-blue;
		}

	}
	.about{
		.zoom-box{
			background-color: $green;
		}

	}
	.spark{
		.zoom-box{
			background-color: $yellow;
		}

	}
	.blog{
		.zoom-box{
			background-color: $orange;
		}

	}
	.contact{
		.zoom-box{
			background-color: $red;
		}


	}
	.start{
		.zoom-box{
			background-color: $yellow;
		}

	}
.page-top{
	padding-top: 10vh;

	h1{
		font-size: 15vh;
		text-align: left;
		line-height: 15vh;
		margin-left: 30vw; 
		width: 70vw;
		small{
			padding-top: 3vh;
			// margin: 0 auto;
			width: 75%;
			font-size: .25em;
			display: block;
			font-weight: 100;
			line-height: 1em;
		}
	}
}
.about-page
{
	.page-top{
		h1{
			margin-left: 2vw;
		}
	}
}


/* Footer */
footer{
	padding: 5vh;
	.footer-contact{
		text-align: center;
		color: $white;
		text-decoration: none;
		width: 100%;
		font-weight: 100;
		display: block;
		font-size: 1.5em;
		margin-bottom: 1em;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;

		&:hover{
			.move{
				transition: all 0.5s ease-in-out;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transform: translateX(10px);
				-webkit-transform: translateX(10px);
				-moz-transform: translateX(10px);
				transform: translateX(10px);
			}
		}
	}
	.social-icons{
		text-align: center;
		width: 100%;
		a{
			margin-left: 2%;
			color: $white;
			font-size: 3em;
			text-align: center;
			@include transition(all 0.25s ease);

			&:hover{
				color: rgba($white,.70);
				@include transition(all 0.25s ease);
			}

			.fa-inverse{
				color: $white;
			}
			img{
				width: 100%;
			}
		}
	}
	.copyright {
		margin-top: 20px;
		text-align: center;
		color: $white;
	}
}
.home-page{
	.footer-contact{
		color: $gray;
	}
	.social-icons a {
		color: $gray;
		.fa-inverse{
				color: #ffffff;
			}
	}
	.copyright{
		color: $gray;
	}
}
.case-study-page{
	.social-icons a {
		color: $dark-blue;
		.fa-inverse{
			color: $white;
		}
	}
	.footer-contact, .copyright{
		color: $dark-blue;
	}
}



.work-page{
	background-color: $dark-blue;
	.social-icons a .fa-inverse{
			color: $dark-blue;
		}
}
.login-page{
	background-color: $dark-blue;
	.social-icons a .fa-inverse{
			color: $dark-blue;
		}
}
.services-page{
	background-color: $light-blue;
	.social-icons a .fa-inverse{
		color: $orange;
	}
}
.about-page{
	background-color: $green;
	.social-icons a .fa-inverse{
		color: $green;
	}
}

.singlePost-page{
	background-color: $white;
	.social-icons a{
		color: $gray;
		.fa-inverse{
			color: $white;
		}
	}
}
.contact-page{
	background-color: $red;
	.social-icons a .fa-inverse{
		color: $red;
	}
}
.project-page{
	background-color: $yellow;
	.social-icons a .fa-inverse{
		color: $yellow;
	}
}
/* Tablet */
@media only screen and (min-device-width : 769px) and (max-device-width : 1000px) {
	.hello-container .hello-text{
			position: absolute;
			top: 30vh;
			font-size: 10em;
		}
		.page-top{
			padding-top: 5vh;
			h1{
				font-size: 15vh;
				text-align: left;
				line-height: 5vh;
				margin-left: 0vw; 
				width: 100vw;
				small{
					width: 100%;
				}
			}
		} 
}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
	.hello-container .hello-text{
		position: absolute;
		top: 30vh;
	}
	.page-top{
		padding-top: 5vh;
		h1{
			font-size: 15vh;
			text-align: left;
			line-height: 15vh;
			margin-left: 0vw; 
			width: 100vw;
			small{
				width: 100%;
			}
		}
	} 
		
}
/* Phone Size */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.skills {
		h2{
			margin-bottom: 1em;
		}
		.gridContainer{
			display: block;
		}
	}
	.experience{
		h2{
			margin-bottom: 1em;
		}
		.gridContainer{
			display: block;
			.grid-item{
	 	 		width: 100%;
	 	 	}
		}
	}
	.page-top{

	h1{

		font-size: 12vh;
		line-height: 10vh;
		margin-top: 25px;
		margin-left: 10vw; 
		width: 80vw;
	}
}
.about-page
{
	.page-top{
		h1{
			margin-left: 2vw;
			font-size: 9vh;
		}
	}
}

}