

/* Menu Button */
	.menu-btn{
		position: absolute;
		top: 50%;
		right: 20px;
	}
	.menu-btn>span{
		float: left;
		display: block;
		padding-right: 10px;
		text-transform: uppercase;
		transition: all 0.5s ease;
		position: relative;
		font-family: "museo-sans";
		font-weight: 900;
		line-height: 20px;
		color: rgba(255,255,255,.75);
	}
	.menu-btn>span.active{
		transform: translateX(80px);
		overflow: hidden;
		opacity: 0;
	}
	.menu-icon{
		position: relative;
		float: left;
		width: 40px;
		height: 20px;



	}
	.menu-icon span{
		backface-visibilty: hidden;
		display: block;
		width: 100%;
		border-top: 3px solid rgba(255,255,255,.75);
		position: absolute;
		left: 0;
		transition: all 0.5s ease;

	}
	.menu-icon>.top{
		top: 0;
	}
	.menu-icon>.middle{
		top: 45%;
		opacity: 1;
	}
	.menu-icon>.bottom{
		top: 18px;
	}
	.menu-icon>.top.active{
		 top: 10px;
	    -moz-transform: rotate(50deg);
	    -webkit-transform: rotate(50deg);
	    -o-transform: rotate(50deg);
	    -ms-transform: rotate(50deg);
	    transform: rotate(50deg);;
	}
	.menu-icon>.bottom.active{
		top: 10px;
	    -moz-transform: rotate(-410deg);
	    -webkit-transform: rotate(-410deg);
	    -o-transform: rotate(-410deg);
	    -ms-transform: rotate(-410deg);
	    transform: rotate(-410deg);
	}
	.menu-icon>.middle.active{
		opacity: 0;
	}


	/*Hidding Menu */
	aside.menu{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100vh;
		background-color: $dark-blue-o;
		display: none;
	}
	aside.menu ul.top-menu{
		padding-top: 12.3vh;
	}
	aside.menu li{
		width: 100%;
		height: 12vh;
		border-top: .25vh #cccccc solid;


	}
	aside.menu li a{
		height: 100%;
		width: 100%;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
		display: block;
		font-family: "museo-sans";
		font-weight: 900;
		font-size: 10vh;
		line-height: 12vh;
		text-decoration: none;
		transition: all 0.5s ease;
		position: relative;
	}

	aside.menu li:nth-child(1) a:hover{
		background-color: $light-blue; /* Dark Blue */

	}
	aside.menu li:nth-child(2) a:hover{
		background-color: $dark-blue; /* Light Blue */

	}
	aside.menu li:nth-child(3) a:hover{
		background-color: $green; /* green */

	}
	aside.menu li:nth-child(4) a:hover{
		background-color: $yellow; /* Yellow */

	}
	aside.menu li:nth-child(5) a:hover{
		background-color: $orange; /* Orange */

	}
	aside.menu li:nth-child(6) a:hover{
		background-color: $red; /* Red */

	}
	aside.menu li:nth-child(7) a:hover{
		background-color: $pink /* Pink */

	}

	@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
/* Menu */
		aside.menu li a{
			font-size: 5vh;

		}
	}

	@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

		.menu-btn>span{
			display: none;
		}

		/* Menu */
		aside.menu li{
			height: 11vh !important;
			a{
				font-size: 4vh !important;
				span{
					font-size: 4vh !important;
				}
			}

		}
		aside.menu li:nth-child(1) a{
		background-color: rgba(#002F3B, .5); /* Dark Blue */

	}
	aside.menu li:nth-child(2) a{
		background-color: rgba(#18B6F0, .5); /* Light Blue */

	}
	aside.menu li:nth-child(3) a{
		background-color: rgba(#1C945A, .5); /* green */


	}
	aside.menu li:nth-child(4) a{
		background-color: rgba(#D58928, .5); /* Yellow */

	}
	aside.menu li:nth-child(5) a{
		background-color: rgba(#D55328, .5); /* Orange */

	}
	aside.menu li:nth-child(6) a{
		background-color: rgba(#D52828, .5); /* Red */

	}
	aside.menu li:nth-child(7) a{
		background-color: rgba(#BC2356, .5); /* Pink */

	}
}

.home-page{
	.cls-1, .cls-b {
        fill: #d65427;
      }

      .cls-2, .cls-c {
        fill: #18b6f0;

      }
	.menu-btn>span{
		color: $gray;
	}
	.menu-icon span{
		border-color: $light-blue;
	}
}

.case-study-page{
	.cls-1, .cls-b {
        fill: $dark-blue;
      }

      .cls-2, .cls-c {
        fill: $dark-blue;

      }
	.menu-btn>span{
		color: $dark-blue;
	}
	.menu-icon span{
		border-color: $dark-blue;
	}
}